<!-- Interpolation with its varoius types
<h1>hello</h1>
{{title}}
{{name.fname}}
{{name.lname}}
<h1>{{naam}}</h1>
<h2>{{getName()}}</h2>
<h2>{{array}}</h2>
<h2>{{array[0]}}</h2>
<h2>{{array[1]}}</h2>
{{array.length}}
{{20+20}}
<br>
{{a/b}}
<h2>{{siteURL}}</h2>


User List Component
<app-user-list></app-user-list>
<app-login></app-login>
<app-signup></app-signup> -->

<!-- Function call on button click -->
<h1>Function call in angular</h1>
<button (click)="getGender('male')">get my age</button>
<!-- <button (click)="getGender('naam')">get Gender</button> -->

<!-- Important Events in Angular -->
<!-- <h1>Imp Events</h1>
<button >Click Me</button> -->
